gui:
  nerdFontsVersion: "3"
  theme:
    selectedLineBgColor:
      - reverse
git:
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never

  # If true, periodically fetch from remote
  autoFetch: false

  # If true, periodically refresh files and submodules
  autoRefresh: false
