encryption = "age"

[age]
identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
recipient = "age16za5cd6p827u929wtrjeu40hyya0uu7tmdyrwntnt2l28pzdg5dsk076pw"

[data]
email = "rafa@rafaelmadriz.com"
name = "Rafael Madriz"

[diff]
command = "delta"
args = "--color-only"
pager = "delta"

[keepassxc]
database = "{{ .chezmoi.homeDir }}/Documents/KeePass/pass.kdbx"
