[age]
    identity = "~/.config/age/key.txt"
    recipient = "age14xpa0mjvspnuhwhlld3xd6n70padjale3quzgy20fhl00v9249yqa26rch"

[data]
email = "rafa@rafaelmadriz.com"
name = "Rafael Madriz"
signingkey = "F5302DA7C6F2F5FD"
