[user]
  email = {{ .email }}
  name = {{ .name }}

[commit]
  gpgsign = false

[core]
  editor = nvim

[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[merge]
    conflictstyle = diff3

{{- if lookPath "delta" }}
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false

[delta]
    navigate = true
    line-numbers = true
    side-by-side = true

[core]
    pager = delta
{{- end }}

[color]
    ui = auto

[init]
    defaultBranch = main
