PATH=/home/{{ .chezmoi.username }}/.local/state/nix/profile/bin:/nix/var/nix/profiles/default/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/home/{{ .chezmoi.username }}/.local/share/flatpak/exports/bin:/var/lib/flatpak/exports/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl:/opt/rocm/bin:/home/{{ .chezmoi.username }}/.local/bin:/home/{{ .chezmoi.username }}/.local/bin/scripts:/home/{{ .chezmoi.username }}/.local/bin/scripts/git:/home/{{ .chezmoi.username }}/.local/bin/scripts/cron:/home/{{ .chezmoi.username }}/.local/bin/scripts/baks:/home/{{ .chezmoi.username }}/.local/share/go/bin:/home/{{ .chezmoi.username }}/.local/share/.ghcup/bin:/home/{{ .chezmoi.username }}/.local/share/cargo/bin:/home/{{ .chezmoi.username }}/.local/share/npm/bin:/home/{{ .chezmoi.username }}/.local/share/go/bin:/home/{{ .chezmoi.username }}/.local/share/.ghcup/bin:/home/{{ .chezmoi.username }}/.local/share/cargo/bin:/home/{{ .chezmoi.username }}/.local/share/npm/bin
