[Unit]
Description=Check for package updates and notify user
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/scripts/cron/checkup
