[Unit]
Description=Mailbox synchronization service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/scripts/cron/syncemail
