[Unit]
Description=Run recoll indexer
OnFailure=emailnotification@%n.service

[Service]
ExecStart=/usr/bin/recollindex -c %h/.config/recoll
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
ProtectSystem=strict
ReadWritePaths=%h/.cache/Recoll.org/ %h/.config/recoll %h/.config/Recoll.org/ %h/.cache/xapiandb/
NoNewPrivileges=yes
